<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDt688V_3Ulb7kbYjxHhH-NG4yw1ilwSh0</string>
	<key>GCM_SENDER_ID</key>
	<string>536682891442</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.OneDeen.Halaqat</string>
	<key>PROJECT_ID</key>
	<string>halaqat-2a02a</string>
	<key>STORAGE_BUCKET</key>
	<string>halaqat-2a02a.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:536682891442:ios:b6c19d4642807ab33161ab</string>
</dict>
</plist>